@font-face{
    font-family:"fff";
    src:url("./fonts/DXMSubtitlesM-KSCpc-EUC-H.ttf") format("truetype");
}

.Chori {
    background-image: url(./images/chori.jpg);
  }

.HomeHot1 {
    background-image : url(./images/react.png);
}

.BlockChain {
    background-image : url(./images/BlockChain.jpg); 
}

.SpringBoot {
    background-image : url(./images/SpringBoot.png);
}

.Jaguar {
    background-image: url(./images/jaguar.jpg);
  }

.Background {
    background-image: url(./images/LoginHome.jpg);
}

.dd {
      text-align:right
  }

.tt{
    font-size:25px;
    text-decoration:none;
    text-align : center;
}

.pp{
    text-decoration:none;
}

.menu {
    background-color: white;
    height: 3.5rem;
    width:500px;
}

.btn1 {
    color : white;
    background : black;
    padding: 0.375rem 0.75rem;
    border: 1px solid teal;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
  }

.btn2 {
    color : white;
    background : black;
    padding: 0.375rem 0.75rem;
    border: 1px solid teal;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
}

.vertical {
    display:inline-block;
    width:120px;
    height:180px;
    background:white;
    text-align : center;
    border: 10px solid powderblue;
}

 .rr {
    text-align:right;
    font-size:25px;
    margin-right : 30px;
 }

 .r {
    text-align:center;
    font-size:25px;
    text-decoration:none;
 }

 .bg {
    background-image: url(./images/LoginHome.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    opacity: 0.5; 
}